In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('worldcup2014.csv')
df

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0
16,France,europe,E,1,3,2,1,0,8,2,6,7,1
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

Desafío - Funciones y probabilidad básica

Desafío 1: Generación de funciones

● Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requisitos:
○ Ambas funciones deben ingresar un argumento x correspondiente al vector.
○ Las funciones deben contener docstrings con la documentación asociada a la variable y retornar un valor utilizando return.
○ La función de la varianza se debe llamar a la función de la media.
● Utilice las funciones para reportar la información sobre goles_favor, goles_contra y puntos.

In [14]:
def calculo_medidas(x):
    tmp_mean= np.mean(x)
    tmp_var= np.var(x)
    
    return np.round(tmp_mean,2),np.round(tmp_var,2)

In [15]:
calculo_medidas(df['goles_favor']) #Esto devuelve una tupla

(4.25, 5.19)

In [16]:
calculo_medidas(df['goles_contra'])

(4.25, 4.81)

In [17]:
calculo_medidas(df['puntos'])

(4.22, 8.05)

Desafío 2:
Utilizando el método groupby de la clase DataFrame, en conjunto con la función .agg de
pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor,
en contra y de la cantidad de puntos por continente.
● ¿En qué continente se observa una mayor cantidad de goles a favor?
● ¿En qué continente se observa una mayor cantidad de goles en contra?
● ¿En qué continente se observa una mayor cantidad de puntos en promedio?

In [26]:
#media
media=df.groupby('continent')['goles_favor','goles_contra','puntos'].mean()
media.round(0)

C:\Users\arlen\AppData\Local\Temp\ipykernel_12108\816416813.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media=df.groupby('continent')['goles_favor','goles_contra','puntos'].mean()

              goles_favor  goles_contra  puntos
continent
africa                4.0           6.0     2.0
asia                  2.0           6.0     1.0
europe                5.0           4.0     5.0
northamerica          3.0           4.0     4.0
southamerica          6.0           3.0     7.0

● ¿En qué continente se observa una mayor cantidad de goles a favor?
Sur America con 6 goles
● ¿En qué continente se observa una mayor cantidad de goles en contra?
Asia y Africa con 6 goles cada uno
● ¿En qué continente se observa una mayor cantidad de puntos en promedio?
Sur America con 7 puntos promedio

In [27]:
#varianza
varianza=df.groupby('continent')['goles_favor','goles_contra','puntos'].var()
varianza.round(0)

C:\Users\arlen\AppData\Local\Temp\ipykernel_12108\279850324.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  varianza=df.groupby('continent')['goles_favor','goles_contra','puntos'].var()

              goles_favor  goles_contra  puntos
continent
africa                3.0           5.0     3.0
asia                  1.0           4.0     0.0
europe                7.0           4.0     7.0
northamerica          2.0          11.0    11.0
southamerica          5.0           1.0     4.0

In [28]:
#Desviación estandar
desviacion_estandar=df.groupby('continent')['goles_favor','goles_contra','puntos'].std()
desviacion_estandar.round(0)

C:\Users\arlen\AppData\Local\Temp\ipykernel_12108\4007958166.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  desviacion_estandar=df.groupby('continent')['goles_favor','goles_contra','puntos'].std()

              goles_favor  goles_contra  puntos
continent
africa                2.0           2.0     2.0
asia                  1.0           2.0     0.0
europe                3.0           2.0     3.0
northamerica          2.0           3.0     3.0
southamerica          2.0           1.0     2.0

In [32]:
#Ahora utilizando el método agg pero sin el groupby
medidas_continente=df.agg({'goles_favor': ['mean','var','std'],
                           'goles_contra': ['mean','var','std'],
                           'puntos': ['mean','var','std']})
medidas_continente

      goles_favor  goles_contra    puntos
mean     4.250000      4.250000  4.218750
var      5.354839      4.967742  8.305444
std      2.314052      2.228843  2.881917

In [33]:
#Utilizando el metodo groupby junto con el agg
medidas_continente=df.groupby('continent').agg({'goles_favor': ['mean','var','std'],
                           'goles_contra': ['mean','var','std'],
                           'puntos': ['mean','var','std']})
medidas_continente

             goles_favor                     goles_contra             \
                    mean       var       std         mean        var
continent
africa          3.600000  3.300000  1.816590     5.600000   4.800000
asia            2.250000  0.916667  0.957427     6.250000   4.250000
europe          4.769231  6.858974  2.618964     4.000000   3.833333
northamerica    3.250000  2.250000  1.500000     3.500000  11.000000
southamerica    5.666667  4.666667  2.160247     2.833333   0.566667

                          puntos
                   std      mean        var       std
continent
africa        2.190890  2.400000   3.300000  1.816590
asia          2.061553  0.750000   0.250000  0.500000
europe        1.957890  4.692308   6.897436  2.626297
northamerica  3.316625  4.500000  11.000000  3.316625
southamerica  0.752773  6.833333   3.766667  1.940790

In [34]:
medidas_continente.round(0)

             goles_favor           goles_contra            puntos
                    mean  var  std         mean   var  std   mean   var  std
continent
africa               4.0  3.0  2.0          6.0   5.0  2.0    2.0   3.0  2.0
asia                 2.0  1.0  1.0          6.0   4.0  2.0    1.0   0.0  0.0
europe               5.0  7.0  3.0          4.0   4.0  2.0    5.0   7.0  3.0
northamerica         3.0  2.0  2.0          4.0  11.0  3.0    4.0  11.0  3.0
southamerica         6.0  5.0  2.0          3.0   1.0  1.0    7.0   4.0  2.0

Obtuvimos los mismos resultados anteriores, solo que ahora podemos ver todos los cálculos en una misma tabla.

● ¿En qué continente se observa una mayor cantidad de goles a favor?
Sur America con 6 goles
● ¿En qué continente se observa una mayor cantidad de goles en contra?
Asia y Africa con 6 goles cada uno
● ¿En qué continente se observa una mayor cantidad de puntos en promedio?
Sur America con 7 puntos promedio

Desafío 3: Simulaciones
● Genere una función generate_pet que devuelva de forma aleatoria un string
'perro' o 'gato' un número n de veces. Ejecútela un par de veces.

Tip: Puede utilizar la función np.random.choice para retornar elementos al azar.
● Aplique la función generate_pet para generar 20 muestras.
● ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?
● Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se
ejecuta la función varias veces luego de fijar la semilla?

In [37]:
def generate_pet():
    """docstring for generate_pet"""
    return np.random.choice(['Gato', 'Perro'])
generate_pet()

'Perro'

In [38]:
#Probando la función
generate_pet()

'Perro'

In [39]:
#Probando la función 
generate_pet()

'Gato'

In [112]:
#genero una lista aleatoria con 20 muestras
lista_pet = ''
for pet in range(20):
    lista_pet = np.random.choice(['Gato', 'Perro'])
    print(lista_pet)

Perro
Gato
Perro
Gato
Gato
Gato
Perro
Gato
Perro
Perro
Perro
Gato
Perro
Gato
Perro
Gato
Perro
Gato
Gato
Perro

In [134]:
#genero una lista aleatoria con 20 muestras
lista_pet = []
for pet in range(20):
    lista = lista_pet.append(np.random.choice(['Gato', 'Perro']))
print(lista_pet)

['Gato', 'Gato', 'Gato', 'Gato', 'Perro', 'Gato', 'Perro', 'Perro', 'Perro', 'Perro', 'Perro', 'Perro', 'Gato', 'Perro', 'Perro', 'Gato', 'Perro', 'Perro', 'Gato', 'Perro']

In [131]:
lista_pet

['Perro',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Perro',
 'Perro',
 'Gato',
 'Perro',
 'Perro',
 'Gato',
 'Gato',
 'Perro',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Gato',
 'Perro']

In [144]:
suma_cantidad = lista_pet.count('Perro')
suma_cantidad

12

In [143]:
#Probabilidad de Perro
def prob_perro():   
    suma_cantidad = lista_pet.count['Perro']
   
    return prob_perro
print(f'Probabilidad de elegir perro es: {suma_cantidad/20}')

Probabilidad de elegir perro es: 0.6

In [146]:
suma_cantidad_gato = lista_pet.count('Gato')
suma_cantidad_gato

8

In [147]:
#Probabilidad de Gato
def prob_gato():   
    suma_cantidad_gato = lista_pet.count['Gato']
   
    return prob_gato
print(f'Probabilidad de elegir gato es: {suma_cantidad_gato/20}')

Probabilidad de elegir gato es: 0.4

In [159]:
#Al ejecutar varias veces, queda fija la primera elección que apareció
np.random.seed(2)
lista_pet = []
for pet in range(20):
    lista = lista_pet.append(np.random.choice(['Gato', 'Perro']))
print(lista_pet)

['Gato', 'Perro', 'Perro', 'Gato', 'Gato', 'Perro', 'Gato', 'Perro', 'Gato', 'Perro', 'Gato', 'Perro', 'Perro', 'Perro', 'Perro', 'Perro', 'Perro', 'Perro', 'Gato', 'Gato']

In [156]:
#Esta sin el .seed cambia el resultado cada vez que se ejecuta
lista_pet = []
for pet in range(20):
    lista = lista_pet.append(np.random.choice(['Gato', 'Perro']))
print(lista_pet)

['Gato', 'Gato', 'Perro', 'Gato', 'Perro', 'Gato', 'Gato', 'Gato', 'Gato', 'Gato', 'Gato', 'Gato', 'Gato', 'Gato', 'Gato', 'Perro', 'Gato', 'Perro', 'Gato', 'Gato']

Desafío 4: Función simuladora
● Genere una función llamada simulate_pets_prob que tome como argumento un
número finito de simulaciones a generar.
● La función debe simular dos situaciones young_pet y old_pet, y contar la
ocurrencia de los siguientes casos:
○ De las dos mascotas simuladas (young y old), contar las ocasiones donde
por lo menos una de las mascotas sea un perro.
○ De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un
perro.
○ De las dos mascotas simuladas, contar las ocasiones donde los dos sean
perros.
● El método debe tener una semilla pseudoaleatoria de 1.
● El output de la función debe entregarse en términos de Probabilidad.
● De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Por
qué?

In [167]:
def generate_pet():
    """docstring for generate_pet"""
    return np.random.choice(['Gato', 'Perro'])
generate_pet()

'Perro'

In [212]:

def simulate_pets_pr(n_sims):
    """docstring for simulate_pets_pr"""
    dos_perros = 0
    perro_viejo = 0
    at_least_un_perro = 0
    #aquí est ala semilla fijada en 1
    np.random.seed(1)
    for _ in range(n_sims):
        young_pet = generate_pet()
        old_pet = generate_pet()
        if old_pet == 'Perro':
            perro_viejo += 1
        if old_pet == 'Perro' and young_pet == 'Perro':
            dos_perros += 1
        if old_pet == 'Perro' or young_pet == 'Perro':
            at_least_un_perro += 1

    #De las dos mascotas simuladas, contar las ocasiones donde los dos sean perros.
    print("Pr(2 perros): ",dos_perros/n_sims)
    # De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un perro.
    print("Pr(2 perros | perro viejo): ", dos_perros / perro_viejo)
    # De las dos mascotas simuladas (young y old), contar las ocasiones donde por lo menos una de las mascotas sea un perro.
    print("Pr(2 perros | por lo menos 1 perro): ", dos_perros / at_least_un_perro)
simulate_pets_pr(10)

Pr(2 perros):  0.3
Pr(2 perros | perro viejo):  0.5
Pr(2 perros | por lo menos 1 perro):  0.375

De los tres escenarios, 
¿Cuál es el más probable?  Pr(2 perros|perro viejo)
¿Cuál es el menos probable?   Pr(2 perros)

In [213]:
simulate_pets_pr(1000)

Pr(2 perros):  0.254
Pr(2 perros | perro viejo):  0.522633744855967
Pr(2 perros | por lo menos 1 perro):  0.3522884882108183

In [214]:
simulate_pets_pr(10000)

Pr(2 perros):  0.2486
Pr(2 perros | perro viejo):  0.49660407510986815
Pr(2 perros | por lo menos 1 perro):  0.33306538049303325

In [218]:
simulate_pets_pr(100000)

Pr(2 perros):  0.24882
Pr(2 perros | perro viejo):  0.49808827945150635
Pr(2 perros | por lo menos 1 perro):  0.3325048107761385